* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/** styling recepe app*/
:root {
  --main-color: rgb(255, 74, 34);
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background: var(--main-color) !important;
}
.active {
  background-color: var(--main-color) !important;
}
.icon {
  background-color: var(--main-color) !important;
  border-radius: 0 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 2px solid var(--main-color) !important;
}
.card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card {
  height: 250px !important;
}
.img {
  height: 120px !important;
  object-fit: cover;
}

.recepe-text:after {
  content: "";
  width: 70px;
  height: 3px;
  left: 50%;
  bottom: -10px;
  position: absolute;
  transform: translateX(-50%);
  background-color: var(--main-color);
}

.card-title {
  height: 20px !important ;
}

ul li {
  border-bottom: 2px solid #ddd;
}

.home-page {
  height: calc(100vh - 68px) !important;
}

.table {
  background-color: #f3f2f2;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 93, 0.5);
}
.fixed-products {
  overflow: hidden !important;
}

@media(max-width:767px){
  .card {
    width: 75% !important;
    height: 270px !important;
  }
}
